*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/*@font-face {
   font: {
      family: 'Chalet';
      style: normal;
      weight: normal;
   }

   src: url(../fonts/Chalet.eot);
   src: url(../fonts/Chalet.eot?#iefix) format('embedded-opentype'),
   url(../fonts/Chalet.woff) format('woff'),
   url(../fonts/Chalet.ttf) format('truetype'),
   url(../fonts/Chalet.svg#Chalet) format('svg');
}*/

body {
   background: {
      image: url(../img/js-logo.png);
      repeat: no-repeat;
      position: center;
      size: cover;
   }

   &::before {
      content: '';
      width: 100%;
      top: 0;
      height: 100%;
      position: absolute;
      background-color: lighten($color: orange, $amount: 20%);
      opacity: 0.6;
   }
}

h1 {
   position: relative;
   color: #222;
   border-radius: 5px;
   text-transform: uppercase;
   padding: 30px;

}